@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container{
    margin-top: 100px;
    font-family: 'Poppins', sans-serif;
    margin-left: 200px;
}

.image-res{
 margin: 0px 0px 0px 0px;
 border-radius: 20px;
}

.each-restaurant{
    display: flex;
    width: 850px;
    height: 190px;
    text-align: left;
    padding: 1px;
    margin-top: 7px;
    font-family: 'Poppins', sans-serif;
    font-size:small;
}
.r-button{
    border: none;
    cursor: pointer;
    transition-duration: 0.3s;
    background-color: #eff1f3;
}
.r-button:hover{
    box-shadow: 0 0 10px rgba(0,0,0,.3);
}
.detail{
    padding-left: 40px;
    padding-bottom: 0px;
}
.detail p{
    margin: 0px 0px 9px 0px;
}